<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="images/favicon.png">

	<title>Cheddar</title>
	<link href='../../fonts.googleapis.com/csse05c.css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
	<link href='../../fonts.googleapis.com/css8b0d.css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

	<!-- Bootstrap core CSS -->
	<link href="js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

	<link rel="stylesheet" href="fonts/font-awesome-4/css/font-awesome.min.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="../../assets/js/html5shiv.js"></script>
	  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->
		<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="Assets/css/base.css"/>
	<link rel="stylesheet" href="Assets/css/skeleton.css"/>
	<link rel="stylesheet" href="Assets/css/layout.css"/>
	<link rel="stylesheet" href="Assets/css/colorbox.css"/>
	
    <!--[if lte IE 8]>
        <script src="Assets/js/html5.js"></script>
    <![endif]-->		
		
	<link href="css/style.css" rel="stylesheet" />	

</head>

<body class="texture">
     
<div id="cl-wrapper" class="error-container">
	
       		<img src="Assets/images/logo.png">

		<div class="container" style="top : 10%">
			<h4>OUR STOCK SIMULATION APPLICATION OFFERS :-</h4>
			<div class="container">
			<div class="sixteen columns">
				<h6><span style ="color:#0074D9; padding-top:10px">  1 .<a href="#"> Academic NSE Stock Simulations </a></span></h6>
				<h6><span style ="color:#0074D9; padding-top:10px" > 2 .<a href="#"> Individual NSE Stock Simulations </a> </span></h6>
			</div>
			

		</div>
		</div>
   
	   <div id="home">
		
		<div class="home-menu1">
			<a href="#">
				<div class="home-menu-but1">
					<div class="home-menu-text1">About</div>
				</div>
				<div class="hi-icon-wrap1 hi-icon-effect-1">
					<div class="hi-icon1 hi-icon-bolt">About Cheddar</div>
				</div>
			</a>
		</div>
		<div class="home-menu2">
			<a  href="login.html">
				<div class="home-menu-but2">
					<div class="home-menu-text2">Login</div>
				</div>
				<div class="hi-icon-wrap2 hi-icon-effect-2">
					<div class="hi-icon2 hi-icon-pen">Login</div>
				</div>
			</a>
		</div>
		<div class="home-menu3">
			<a href="#">
				<div class="home-menu-but3">
					<div class="home-menu-text3">Register</div>
				</div>
				<div class="hi-icon-wrap3 hi-icon-effect-3">
					<div class="hi-icon3 hi-icon-cog">Register</div>
				</div>
			</a>
		</div>
		<div class="home-menu4">
			<a href="#">
				<div class="home-menu-but4">
					<div class="home-menu-text4">Contact</div>
				</div>
				<div class="hi-icon-wrap4 hi-icon-effect-4">
					<div class="hi-icon4 hi-icon-glo">Contact</div>
				</div>
			</a>
		</div>

	   <div id="copy">&copy; 2014 <a href="#">Cheddar</a> Developed By : Griffin M | <a href="http://equiplexdevelopers.com">Equiplex Business Solutions</a></div>

	


    

	</div>
    
     
	</div>
</div>


<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/behaviour/general.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
  <script src="js/behaviour/voice-commands.js"></script>
  <script src="js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.flot/jquery.flot.js"></script>
<script type="text/javascript" src="js/jquery.flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="js/jquery.flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="js/jquery.flot/jquery.flot.labels.js"></script>
<script type="text/javascript" src="Assets/js/jquery.js"></script>
<script type="text/javascript" src="Assets/js/modernizr.custom.js"></script>
<script type="text/javascript">
$('.bar-percentage[data-percentage]').each(function () {
  var progress = $(this);
  var percentage = Math.ceil($(this).attr('data-percentage'));
  $({countNum: 0}).animate({countNum: percentage}, {
    duration: 4000,
    easing:'linear',
    step: function() {
      // What todo on every count
      var pct = Math.floor(this.countNum) + '%';
      progress.text(pct) && progress.siblings().children().css('width',pct);
    }
  });
});	
</script>  
<script type="text/javascript" src="Assets/js/jquery.nicescroll.min.js"></script>	
<script type="text/javascript" src="Assets/js/jquery.sticky.js"></script>
<script type="text/javascript" src="Assets/js/jquery.airport-1.1.source.js"></script>


<script type="text/javascript" src="Assets/js/classie.js"></script>
<script type="text/javascript" src="Assets/js/modalEffects.js"></script>
<script type="text/javascript" src="Assets/js/cssParser.js"></script>
<script type="text/javascript" src="Assets/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="Assets/js/jquery.isotope.min.js"></script> 
<script type="text/javascript" src="Assets/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="Assets/js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="Assets/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="Assets/js/jquery.colorbox.js"></script>
<script type="text/javascript" src="Assets/js/template.js"></script>  
	  
<!-- End Document
================================================== -->
</body>

</html>